@use 'mixin' as m;


html {
    font-size: 100%;
    color: #333333;
}

body {
    font-family: "游ゴシック体", "YuGothic", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
    letter-spacing: 0.1em;
    min-height: 100vh;
    position: relative;
}

img {
    max-width: 100%;
}

a {
    color: black;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

p {
    line-height: 2;
    font-size: 14px;
}

ul {
    list-style: none;
}

.wrapper {
    max-width: 1100px;
    padding-inline: 16px;
    margin: 0 auto;

    @include m.pc {
        max-width: 600px;
    }
}

h3 {
    font-size: 32px;
    margin-bottom: 16px;
}

h4 {
    font-size: 20px;
    margin-bottom: 24px;
}

.hairstyle,
.blog-news,
.access,
.hairstyle-page {
    .section-title {
        @include m.pc {
            margin-bottom: 50px;
        }
    }
}

.border {
    width: 50px;
    border-bottom: 1px solid #6F6F6F;
    margin-bottom: 16px;
}

// CONCEPTとMENU
.concept-menu {
    height: 1300px;
    background-image: url("../img/background-img.png");
    width: 100%;
    background-size: cover;

    @include m.pc {
        height: 1800px;
    }
}

.content-text {
    width: 550px;
}

.background-img {
    img {
        position: relative;
        width: 100%;
    }
}

// ボタンの矢印
.btn {
    display: flex;
    justify-content: center;
    background-color: #ec6b61;
    color: #fff;
    align-items: center;
    position: relative;
    width: 200px;
    height: 55px;
    border-radius: 100vh;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.6));

    @include m.pc {
        width: 150px;
        height: 50px;
    }
}

.btn:hover {
    background: #B5D2B6;
    color: white;
    transition-duration: 0.2s;
}

.btn::before {
    content: "";
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 15%;
    width: 10px;
    height: 10px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(45deg);
}

.btn:hover::before {
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    transition-duration: 0.2s;
}

.section-title {
    text-align: center;
    margin-bottom: 80px;

    .border {
        margin: 0 auto;
    }
}