@use 'mixin' as m;

.concept {
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s;
    padding-top: 200px;

    .wrapper {
        display: flex;
        justify-content: space-between;

        @include m.pc {
            display: block;
        }

        .concept-text {
            width: 50%;

            @include m.pc {
                width: 100%;
                margin-bottom: 50px;
            }
        }

        .concept-img {
            display: flex;
            justify-content: space-between;
            position: relative;
            width: 50%;
            margin-left: 48px;

            @include m.pc {
                position: relative;
                width: 100%;
                margin-left: 0;
            }

            img {
                width: 48%;
            }

            &1 {
                position: absolute;
                top: -25%;
                left: 0%;
                padding-right: 10px;
            }

            &2 {
                position: absolute;
                top: 50%;
                right: 0%;
                padding-left: 10px;

                @include m.pc {
                    position: absolute;
                    top: 50px;
                }
            }
        }
    }
}