@use 'mixin' as m;

.mainvisual {
    position: relative;
    height: 100vh;

    &-img {
        background-color: rgba(0, 0, 0);
        height: 100vh;


        img {
            width: 100%;
            object-fit: cover;
            height: 100vh;
            opacity: 0.8;
        }
    }

    &-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
        width: 90%;

        h2 {
            font-size: 48px;
            font-family: Dancing Script;

            @include m.pc {
                font-size: 40px;
            }
        }

        .store-name {
            font-size: 32px;

            @include m.pc {
                font-size: 28px;
            }
        }
    }
}