@charset "UTF-8";
header {
  width: 100%;
  position: fixed;
  z-index: 10;
  height: 80px;
  top: 0;
  background-color: #B5D2B6;
}
header .header-wrapper {
  max-width: 1100px;
  padding-inline: 20px;
  margin: 0 auto;
}
@media (max-width: 900px) {
  header .header-wrapper {
    max-width: 900px;
  }
}
header .header-wrapper .header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-wrapper .header-box h1 {
  height: 52px;
}
header .header-wrapper .header-box h1 a {
  height: 100%;
}
header .header-wrapper .header-box h1 a img {
  max-width: none;
}
header .header-wrapper .header-box .header-nav {
  display: flex;
  align-items: center;
  height: 80px;
}
header .header-wrapper .header-box .header-nav li {
  background-image: linear-gradient(#000, #000);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 0 1px;
  transition: background-size 0.3s;
  padding-bottom: 3px;
  margin-inline: 16px;
}
@media (max-width: 900px) {
  header .header-wrapper .header-box .header-nav li {
    display: none;
  }
}
header .header-wrapper .header-box .header-nav li:hover {
  background-position: bottom left;
  background-size: 100% 1px;
}
header .header-wrapper nav .nav-menu {
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s ease;
  width: 100%;
  height: 100vh;
  background-color: #B5D2B6;
  position: fixed;
  left: 0;
  top: 0;
}
header .header-wrapper nav .nav-menu h1 {
  width: 100px;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .header-wrapper nav .nav-menu h1 img {
  width: 100%;
}
header .header-wrapper nav .nav-menu-box .hamburger-nav {
  display: flex;
  margin: 90px 0 40px 0;
  flex-direction: column;
  align-items: center;
}
header .header-wrapper nav .nav-menu-box .hamburger-nav li {
  padding-bottom: 3px;
  background-image: linear-gradient(#000, #000);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 0 1px;
  transition: background-size 0.3s;
  margin-bottom: 20px;
  margin-inline: 5px;
}
header .header-wrapper .hamburger {
  display: none;
  width: 80px;
  height: 80px;
  position: fixed;
  top: 0;
  right: 20px;
  z-index: 300;
  transition: 0.3s;
}
@media (max-width: 900px) {
  header .header-wrapper .hamburger {
    display: block;
  }
}
header .header-wrapper .hamburger span {
  width: 40px;
  height: 2px;
  background-color: #fff;
  transition: all 0.5s;
  position: absolute;
  left: 20px;
}
header .header-wrapper .hamburger span:nth-child(1) {
  top: 25px;
}
header .header-wrapper .hamburger span:nth-child(2) {
  top: 40px;
}
header .header-wrapper .hamburger span:nth-child(3) {
  top: 55px;
}
header .header-wrapper .hamburger:hover {
  opacity: 0.7;
  transition: 0.3s;
  cursor: pointer;
}

.open .header-wrapper nav .nav-menu {
  opacity: 1;
  visibility: visible;
  z-index: 200;
}
.open .header-wrapper nav .nav-menu-box .hamburger-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 90px 0 40px 0;
}
.open .header-wrapper nav .nav-menu-box .hamburger-nav li {
  margin-bottom: 20px;
  margin-inline: 5px;
  padding-bottom: 3px;
  background-image: linear-gradient(#000, #000);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 0 1px;
  transition: background-size 0.3s;
}
.open .header-wrapper nav .nav-menu-box .hamburger-nav li:hover {
  background-position: bottom left;
  background-size: 100% 1px;
}
.open .header-wrapper nav .nav-menu-box .hamburger-nav li a {
  font-weight: bold;
  color: #4a4a4a;
}
.open .header-wrapper .hamburger {
  z-index: 300;
}
.open .header-wrapper .hamburger span {
  background-color: white;
}
.open .header-wrapper .hamburger span:nth-child(1) {
  transform: rotate(-45deg);
  top: 35px;
}
.open .header-wrapper .hamburger span:nth-child(2) {
  opacity: 0;
}
.open .header-wrapper .hamburger span:nth-child(3) {
  transform: rotate(45deg);
  top: 35px;
}
.open .header-wrapper .hamburger:hover {
  opacity: 0.7;
}

.mainvisual {
  position: relative;
  height: 100vh;
}
.mainvisual-img {
  background-color: rgb(0, 0, 0);
  height: 100vh;
}
.mainvisual-img img {
  width: 100%;
  object-fit: cover;
  height: 100vh;
  opacity: 0.8;
}
.mainvisual-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 90%;
}
.mainvisual-title h2 {
  font-size: 48px;
  font-family: Dancing Script;
}
@media (max-width: 900px) {
  .mainvisual-title h2 {
    font-size: 40px;
  }
}
.mainvisual-title .store-name {
  font-size: 32px;
}
@media (max-width: 900px) {
  .mainvisual-title .store-name {
    font-size: 28px;
  }
}

.concept {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s;
  padding-top: 200px;
}
.concept .wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .concept .wrapper {
    display: block;
  }
}
.concept .wrapper .concept-text {
  width: 50%;
}
@media (max-width: 900px) {
  .concept .wrapper .concept-text {
    width: 100%;
    margin-bottom: 50px;
  }
}
.concept .wrapper .concept-img {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 50%;
  margin-left: 48px;
}
@media (max-width: 900px) {
  .concept .wrapper .concept-img {
    position: relative;
    width: 100%;
    margin-left: 0;
  }
}
.concept .wrapper .concept-img img {
  width: 48%;
}
.concept .wrapper .concept-img1 {
  position: absolute;
  top: -25%;
  left: 0%;
  padding-right: 10px;
}
.concept .wrapper .concept-img2 {
  position: absolute;
  top: 50%;
  right: 0%;
  padding-left: 10px;
}
@media (max-width: 900px) {
  .concept .wrapper .concept-img2 {
    position: absolute;
    top: 50px;
  }
}

.menu {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s;
  margin-top: 400px;
}
@media (max-width: 900px) {
  .menu {
    margin-top: 500px;
  }
}
@media (max-width: 425px) {
  .menu {
    margin-top: 350px;
  }
}
.menu .wrapper {
  display: flex;
  flex-direction: row-reverse;
}
@media (max-width: 900px) {
  .menu .wrapper {
    flex-direction: column;
  }
}
.menu .wrapper .menu-text {
  width: 50%;
  padding-left: 64px;
}
@media (max-width: 900px) {
  .menu .wrapper .menu-text {
    position: relative;
    width: 100%;
    padding-left: 0;
  }
}
.menu .wrapper .menu-text p {
  margin-bottom: 30px;
}
@media (max-width: 900px) {
  .menu .wrapper .menu-text .btn {
    position: absolute;
    bottom: -590px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto 50px auto;
  }
}
@media (max-width: 425px) {
  .menu .wrapper .menu-text .btn {
    bottom: -450px;
  }
}
.menu .wrapper .menu-img {
  position: relative;
  width: 50%;
}
@media (max-width: 900px) {
  .menu .wrapper .menu-img {
    width: 100%;
  }
}
.menu .wrapper .menu-img img {
  width: 48%;
}
.menu .wrapper .menu-img1 {
  position: absolute;
  top: 35%;
  left: 0%;
  padding-right: 10px;
}
@media (max-width: 900px) {
  .menu .wrapper .menu-img1 {
    top: 50px;
  }
}
.menu .wrapper .menu-img2 {
  position: absolute;
  top: -20%;
  right: 0%;
  padding-left: 10px;
}

.menu-mainvisual-img img {
  height: 40vh;
  object-fit: cover;
  width: 100%;
  margin-top: 80px;
}

.menu-background-img {
  width: 100%;
  height: 1100px;
}
@media (max-width: 900px) {
  .menu-background-img {
    height: 1000px;
  }
}

.menu-section {
  width: 100%;
  height: 1300px;
  background-image: url("../img/background-img.png");
  background-size: cover;
  margin-top: 80px;
}
@media (max-width: 900px) {
  .menu-section {
    height: 1400px;
  }
}
.menu-section .section-title {
  margin-bottom: 56px;
}
.menu-section .menu-table {
  max-width: 900px;
  margin: 0 auto 200px auto;
}
.menu-section .menu-table-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  border-top: 1px solid black;
  padding-block: 24px;
}
@media (max-width: 900px) {
  .menu-section .menu-table-container {
    display: block;
  }
}
.menu-section .menu-table-container .menu-title {
  width: 40%;
  padding-left: 24px;
}
@media (max-width: 900px) {
  .menu-section .menu-table-container .menu-title {
    width: 100%;
    text-align: center;
    padding-left: 0;
  }
}
.menu-section .menu-table-container .menu-title li:first-child {
  font-size: 32px;
}
.menu-section .menu-table-container .menu-title li:last-child {
  font-size: 14px;
}
@media (max-width: 900px) {
  .menu-section .menu-table-container .menu-title li:last-child {
    margin-bottom: 8px;
  }
}
.menu-section .menu-table-container .menu-contents {
  font-size: 24px;
  width: 60%;
  text-align: right;
  white-space: nowrap;
  line-height: 1.8;
  padding-right: 20px;
  overflow-x: auto;
}
@media (max-width: 900px) {
  .menu-section .menu-table-container .menu-contents {
    width: 100%;
    font-size: 16px;
    text-align: center;
    padding-right: 0;
  }
}
.menu-section .menu-table-container .menu-contents li {
  margin-bottom: 8px;
}
.menu-section .menu-table-container .menu-contents li:last-child {
  margin-bottom: 0;
}
.menu-section .menu-table-container:last-child {
  border-bottom: 1px solid black;
}

.hairstyle {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s;
  margin-top: 160px;
}
@media (max-width: 425px) {
  .hairstyle {
    margin-top: 80px;
  }
}
.hairstyle .section-title {
  text-align: center;
  margin-bottom: 56px;
}
.hairstyle .section-title .border {
  margin: 0 auto;
}
.hairstyle .slide-items {
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
}
.hairstyle .slide-items li {
  padding-inline: 50px;
}
.hairstyle .slide-items li img {
  width: 100%;
  object-fit: cover;
}
.hairstyle .slide-arrow {
  bottom: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  width: 30px;
  margin: auto;
}
.hairstyle .prev-arrow {
  left: 0px;
  z-index: 10;
}
.hairstyle .next-arrow {
  right: 0px;
}
.hairstyle .btn {
  margin: 64px auto;
}

.hairstyle-page .wrapper h3 {
  padding-top: 200px;
}
@media (max-width: 900px) {
  .hairstyle-page .wrapper h3 {
    padding-top: 150px;
  }
}
.hairstyle-page .wrapper .search-table {
  width: 100%;
  border-collapse: collapse;
}
.hairstyle-page .wrapper .search-table-container {
  display: flex;
  line-height: 40px;
  border-top: 1px solid #B5D2B6;
  border-left: 1px solid #B5D2B6;
  border-right: 1px solid #B5D2B6;
}
.hairstyle-page .wrapper .search-table-container .search-item {
  width: 30%;
  text-align: center;
  padding: 8px;
  background-color: #F1F6F1;
  border-right: 1px solid #B5D2B6;
}
.hairstyle-page .wrapper .search-table-container .search-body {
  width: 70%;
  padding: 8px 0 8px 16px;
}
.hairstyle-page .wrapper .search-table-container .search-body input {
  white-space: nowrap;
  margin-right: 8px;
}
.hairstyle-page .wrapper .search-table-container .search-body label {
  margin-right: 16px;
}
.hairstyle-page .wrapper .search-table-container:last-child {
  border-bottom: 1px solid #B5D2B6;
}
.hairstyle-page .wrapper .search-table tr {
  line-height: 40px;
}
.hairstyle-page .wrapper .search-table tr th {
  width: 30%;
  text-align: left;
  padding-left: 10px;
  background-color: #F1F6F1;
}
.hairstyle-page .wrapper .search-table tr td {
  width: 70%;
  padding-left: 10px;
}
.hairstyle-page .wrapper .search-table tr td input {
  white-space: nowrap;
}
.hairstyle-page .wrapper .search-table tr th,
.hairstyle-page .wrapper .search-table tr td {
  border: 1px solid #B5D2B6;
}
.hairstyle-page .wrapper .search .hairstyle-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5%;
  margin-top: 100px;
}
@media (max-width: 900px) {
  .hairstyle-page .wrapper .search .hairstyle-list {
    grid-template-columns: 1fr;
    gap: 64px;
  }
}
.hairstyle-page .wrapper .search .hairstyle-list-item {
  width: 100%;
  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.45);
}
.hairstyle-page .wrapper .search .hairstyle-list-item img {
  width: 100%;
}
.hairstyle-page .wrapper .search .hairstyle-list-item .list-contents {
  padding: 16px;
}
.hairstyle-page .wrapper .search .hairstyle-list-item .list-contents-title {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.hairstyle-page .wrapper .search .hairstyle-list-item .list-contents-title .list-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.hairstyle-page .wrapper .search .hairstyle-list-item .list-contents-tag {
  display: flex;
}
.hairstyle-page .wrapper .search .hairstyle-list-item .list-contents-tag p {
  background-color: #B5D2B6;
  padding-inline: 2px;
  margin-block: 7px;
  margin-right: 5px;
}
.hairstyle-page .wrapper .hairstyle-pagenation1 {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 100px;
}
@media (max-width: 900px) {
  .hairstyle-page .wrapper .hairstyle-pagenation1 {
    margin-top: 50px;
  }
}
.hairstyle-page .wrapper .hairstyle-pagenation1 li {
  padding: 0 20px;
}
.hairstyle-page .wrapper .hairstyle-pagenation2 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 100px;
}
.hairstyle-page .wrapper .hairstyle-pagenation2 li {
  padding: 0 20px;
}

.blog-news {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s;
  margin-top: 160px;
}
@media (max-width: 425px) {
  .blog-news {
    margin-top: 120px;
  }
}
.blog-news .section-title {
  text-align: center;
  margin-bottom: 64px;
}
.blog-news .section-title .border {
  margin: 0 auto;
}
.blog-news-contents {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .blog-news-contents {
    flex-direction: column;
  }
}
.blog-news-contents .blog {
  max-width: 300px;
  margin: 24px 8px;
}
@media (max-width: 900px) {
  .blog-news-contents .blog {
    max-width: none;
  }
}
.blog-news-contents .blog img {
  width: 100%;
}
.blog-news-contents .blog time {
  display: block;
  margin-top: 8px;
}
.blog-news-contents .blog h5 {
  margin-top: 8px;
}
.blog-news .btn {
  margin: 40px auto;
}

.blog-page-container {
  padding-top: 120px;
}
@media (max-width: 900px) {
  .blog-page-container {
    padding-bottom: 150px;
  }
}
.blog-page-container .section-title {
  margin-bottom: 40px;
}
.blog-page-container .blog-container {
  display: flex;
}
@media (max-width: 900px) {
  .blog-page-container .blog-container {
    flex-direction: column;
  }
}
.blog-page-container .blog-container img {
  width: 55%;
}
@media (max-width: 900px) {
  .blog-page-container .blog-container img {
    width: 100%;
  }
}
.blog-page-container .blog-container-text {
  width: 45%;
  padding-inline: 5%;
}
@media (max-width: 900px) {
  .blog-page-container .blog-container-text {
    width: 100%;
    margin-top: 20px;
  }
}
.blog-page-container .blog-container-text h5 {
  margin-block: 10px;
}

.blognews-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 150px;
  padding-top: 10px;
}
@media (max-width: 900px) {
  .blognews-footer {
    position: initial;
    height: 300px;
  }
}
.blognews-footer .wrapper {
  text-align: initial;
}
@media (max-width: 900px) {
  .blognews-footer .wrapper {
    display: flex;
    flex-direction: column;
  }
}
.blognews-footer .wrapper .footer-nav {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 0;
}
@media (max-width: 900px) {
  .blognews-footer .wrapper .footer-nav {
    position: initial;
    transform: unset;
  }
}
.blognews-footer .wrapper .copylight {
  margin-top: 40px;
}
@media (max-width: 900px) {
  .blognews-footer .wrapper .copylight {
    margin-top: 0;
  }
}

.blog-news-list {
  padding-top: 150px;
  margin-bottom: 50px;
}
.blog-news-list .section-title {
  margin-bottom: 50px;
}
.blog-news-list-contents {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5%;
}
@media (max-width: 900px) {
  .blog-news-list-contents {
    grid-template-columns: 1fr;
    gap: 64px;
  }
}
.blog-news-list-contents .blog-contents {
  width: 100%;
  text-align: left;
}
.blog-news-list-contents .blog-contents img {
  width: 100%;
}
.blog-news-list-contents .blog-contents time {
  display: block;
  margin-top: 8px;
}
.blog-news-list-contents .blog-contents .blog-title {
  margin-top: 8px;
}
.blog-news-list .blog-pagenation1 {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 100px;
}
@media (max-width: 900px) {
  .blog-news-list .blog-pagenation1 {
    margin-top: 50px;
  }
}
.blog-news-list .blog-pagenation1 li {
  padding: 0 20px;
}
.blog-news-list .blog-pagenation2 {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
@media (max-width: 900px) {
  .blog-news-list .blog-pagenation2 {
    margin-top: 50px;
  }
}
.blog-news-list .blog-pagenation2 li {
  padding: 0 20px;
}

.access {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s;
  margin-block: 160px;
}
@media (max-width: 425px) {
  .access {
    margin-top: 120px;
  }
}
.access-container {
  display: flex;
}
@media (max-width: 900px) {
  .access-container {
    flex-direction: column;
  }
}
.access-container .map {
  width: 58%;
}
@media (max-width: 900px) {
  .access-container .map {
    width: 100%;
  }
}
.access-container .map iframe {
  width: 100%;
}
.access-container .address {
  width: 42%;
  padding-left: 50px;
}
@media (max-width: 900px) {
  .access-container .address {
    width: 100%;
    padding-left: 0;
    margin-top: 30px;
  }
}
.access-container .address p {
  margin-bottom: 20px;
}

.access-mainvisual .access-mainvisual-img img {
  height: 40vh;
  object-fit: cover;
  width: 100%;
  margin-top: 80px;
}

.access-page {
  margin-block: 80px;
}

.reserve {
  position: relative;
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s;
  margin-top: 160px;
}
@media (max-width: 425px) {
  .reserve {
    margin-top: 120px;
  }
}
.reserve-img {
  height: 600px;
  width: 100%;
  background-size: cover;
  background-image: url("../img/reserve img.png");
}
@media (max-width: 900px) {
  .reserve-img {
    height: 500px;
  }
}
.reserve-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 520px;
  height: 350px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 auto;
}
@media (max-width: 900px) {
  .reserve-container {
    max-width: 400px;
  }
}
@media (max-width: 425px) {
  .reserve-container {
    width: 100%;
  }
}
.reserve-container-contents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
@media (max-width: 425px) {
  .reserve-container-contents {
    padding-inline: 2%;
  }
}
.reserve-container-contents p {
  width: 100%;
  margin-block: 8px;
}
.reserve-container-contents .tel,
.reserve-container-contents .app,
.reserve-container-contents .contact {
  width: 250px;
  height: 50px;
  background-color: #374437;
  line-height: 50px;
  margin: 16px auto;
}
.reserve-container-contents .tel a,
.reserve-container-contents .app a,
.reserve-container-contents .contact a {
  color: white;
  width: 100%;
  transition: 0.4s;
}
.reserve-container-contents .tel a:hover,
.reserve-container-contents .app a:hover,
.reserve-container-contents .contact a:hover {
  color: black;
}
.reserve-container-contents .tel:hover,
.reserve-container-contents .app:hover,
.reserve-container-contents .contact:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transition: 0.4s;
}

html {
  font-size: 100%;
  color: #333333;
}

body {
  font-family: "游ゴシック体", "YuGothic", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  letter-spacing: 0.1em;
  min-height: 100vh;
  position: relative;
}

img {
  max-width: 100%;
}

a {
  color: black;
  display: inline-block;
  text-decoration: none;
  text-align: center;
}

p {
  line-height: 2;
  font-size: 14px;
}

ul {
  list-style: none;
}

.wrapper {
  max-width: 1100px;
  padding-inline: 16px;
  margin: 0 auto;
}
@media (max-width: 900px) {
  .wrapper {
    max-width: 600px;
  }
}

h3 {
  font-size: 32px;
  margin-bottom: 16px;
}

h4 {
  font-size: 20px;
  margin-bottom: 24px;
}

@media (max-width: 900px) {
  .hairstyle .section-title,
  .blog-news .section-title,
  .access .section-title,
  .hairstyle-page .section-title {
    margin-bottom: 50px;
  }
}

.border {
  width: 50px;
  border-bottom: 1px solid #6F6F6F;
  margin-bottom: 16px;
}

.concept-menu {
  height: 1300px;
  background-image: url("../img/background-img.png");
  width: 100%;
  background-size: cover;
}
@media (max-width: 900px) {
  .concept-menu {
    height: 1800px;
  }
}

.content-text {
  width: 550px;
}

.background-img img {
  position: relative;
  width: 100%;
}

.btn {
  display: flex;
  justify-content: center;
  background-color: #ec6b61;
  color: #fff;
  align-items: center;
  position: relative;
  width: 200px;
  height: 55px;
  border-radius: 100vh;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.6));
}
@media (max-width: 900px) {
  .btn {
    width: 150px;
    height: 50px;
  }
}

.btn:hover {
  background: #B5D2B6;
  color: white;
  transition-duration: 0.2s;
}

.btn::before {
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 15%;
  width: 10px;
  height: 10px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg);
}

.btn:hover::before {
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  transition-duration: 0.2s;
}

.section-title {
  text-align: center;
  margin-bottom: 80px;
}
.section-title .border {
  margin: 0 auto;
}

footer {
  background-color: #B5D2B6;
  height: 300px;
  padding-top: 10px;
}
@media (max-width: 900px) {
  footer {
    height: auto;
  }
}
@media (max-width: 900px) {
  footer .wrapper {
    text-align: center;
  }
}
footer .wrapper a {
  margin-top: 8px;
}
footer .wrapper .footer-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  margin-top: 30px;
  margin-bottom: 80px;
}
@media (max-width: 900px) {
  footer .wrapper .footer-nav {
    flex-direction: column;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 0;
  }
}
footer .wrapper .footer-nav li {
  background-image: linear-gradient(#000, #000);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 0 1px;
  transition: background-size 0.3s;
  margin-inline: 16px;
  padding-bottom: 3px;
}
footer .wrapper .footer-nav li:hover {
  background-position: bottom left;
  background-size: 100% 1px;
}
@media (max-width: 900px) {
  footer .wrapper .footer-nav li {
    margin-bottom: 3px;
  }
}
footer .wrapper .copylight {
  text-align: center;
}
@media (max-width: 900px) {
  footer .wrapper .copylight {
    margin-top: 16px;
  }
}

.contact-page-container {
  padding-top: 152px;
  padding-bottom: 200px;
}
@media (max-width: 900px) {
  .contact-page-container {
    padding-bottom: 100px;
  }
}
.contact-page-container .section-title {
  margin-bottom: 16px;
}
.contact-page-container form {
  max-width: 800px;
  margin-top: 24px;
  margin-inline: auto;
}
.contact-page-container form dl {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}
@media (max-width: 900px) {
  .contact-page-container form dl {
    display: block;
  }
}
.contact-page-container form dl dt {
  width: 25%;
  font-size: 14px;
}
@media (max-width: 900px) {
  .contact-page-container form dl dt {
    width: 100%;
    margin-bottom: 8px;
  }
}
.contact-page-container form dl dd {
  width: 70%;
  margin-bottom: 8px;
}
@media (max-width: 900px) {
  .contact-page-container form dl dd {
    width: 100%;
  }
}
.contact-page-container form dl dd input,
.contact-page-container form dl dd textarea {
  width: 100%;
  border: solid 1px #c8c8c8;
  padding: 10px;
}
.contact-page-container form .contact-submit {
  width: 180px;
  /* 横幅指定 */
  background-color: #ffffff;
  /* 背景色 */
  color: #000000;
  /* 文字色 */
  font-weight: bold;
  /* 文字の太さ */
  display: block;
  /* インライン要素をブロック要素に変更 */
  margin: 40px auto;
  /* 中央寄せ */
  font-size: 16px;
  /* 文字の大きさ */
  padding: 15px;
  /* 内側の余白 */
  border-radius: 100vh;
  /* 角丸指定 */
  border: 1px solid #000000;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
.contact-page-container form .contact-submit:hover {
  opacity: 0.3;
  transition-duration: 0.2s;
}

.contact-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 150px;
  padding-top: 10px;
}
@media (max-width: 900px) {
  .contact-footer {
    position: initial;
    height: 300px;
  }
}
.contact-footer .wrapper {
  text-align: initial;
}
@media (max-width: 900px) {
  .contact-footer .wrapper {
    display: flex;
    flex-direction: column;
  }
}
.contact-footer .wrapper .footer-nav {
  margin-top: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 900px) {
  .contact-footer .wrapper .footer-nav {
    position: initial;
    transform: unset;
  }
}
.contact-footer .wrapper .copylight {
  margin-top: 40px;
}
@media (max-width: 900px) {
  .contact-footer .wrapper .copylight {
    margin-top: 0;
  }
}

.reserve-page-container {
  background-image: url(../img/background-img.png);
  background-size: cover;
  padding-top: 152px;
  padding-bottom: 200px;
}
@media (max-width: 900px) {
  .reserve-page-container {
    padding-bottom: 70px;
  }
}
.reserve-page-container .section-title {
  margin-bottom: 16px;
}
.reserve-page-container form {
  max-width: 800px;
  margin-top: 24px;
  margin-inline: auto;
}
.reserve-page-container form dl {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
}
@media (max-width: 900px) {
  .reserve-page-container form dl {
    display: block;
  }
}
.reserve-page-container form dl dt {
  width: 20%;
  font-size: 14px;
}
@media (max-width: 900px) {
  .reserve-page-container form dl dt {
    width: 100%;
    margin-bottom: 8px;
  }
}
.reserve-page-container form dl dd {
  width: 80%;
  margin-bottom: 8px;
}
@media (max-width: 900px) {
  .reserve-page-container form dl dd {
    width: 100%;
  }
}
.reserve-page-container form dl dd input {
  width: 100%;
  border: solid 1px #c8c8c8;
  padding: 10px;
  background-color: white;
}
.reserve-page-container form dl dd #date2:last-child {
  margin-top: 16px;
}
.reserve-page-container form .contact-submit {
  width: 180px;
  background-color: #ffffff;
  color: #333333;
  font-weight: bold;
  display: block;
  margin: 24px auto;
  font-size: 16px;
  padding: 15px;
  border-radius: 100vh;
  border: 1px solid #000000;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
.reserve-page-container form .contact-submit:hover {
  opacity: 0.3;
  transition-duration: 0.2s;
}

.reserve-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 150px;
  padding-top: 10px;
}
@media (max-width: 900px) {
  .reserve-footer {
    position: initial;
    height: 300px;
  }
}
.reserve-footer .wrapper {
  text-align: initial;
}
@media (max-width: 900px) {
  .reserve-footer .wrapper {
    display: flex;
    flex-direction: column;
  }
}
.reserve-footer .wrapper .footer-nav {
  margin-top: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 900px) {
  .reserve-footer .wrapper .footer-nav {
    position: initial;
    transform: unset;
  }
}
.reserve-footer .wrapper .copylight {
  margin-top: 40px;
}
@media (max-width: 900px) {
  .reserve-footer .wrapper .copylight {
    margin-top: 0;
  }
}